<html>
    <head>

    </head>
    <body>
            {% load static%}
     <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li><a class="navbar-brand" href="{% url 'user:Home'%}">Home</a></li>
              <li class="nav-link"><a class="navbar-brand" href="{% url 'nationality:Index'%}">Nationality</a></li>
              <li class="nav-link"><a class="navbar-brand" href="{% url 'category:Index'%}">Categories</a></li>
              <li class="nav-link"><a class="navbar-brand" href="{% url 'author:Index'%}">Authors</a></li>
              <li class="nav-link"><a class="navbar-brand" href="{% url 'book:Index'%}">Books</a></li>
              <li class="nav-link"><a class="navbar-brand" href="{% url 'customer:Index'%}">customers</a></li>
              <li class="nav-link"><a class="navbar-brand" href="{% url 'trans:Index'%}">trans</a></li>
              <li class="nav-link"><a class="navbar-brand" href="{% url 'user:Index'%}">users</a></li>

             
            </ul>
          </div>
        </div>
      </nav>
      <div>{{request.session.userName}} &nbsp;<a href="{% url 'user:Logout'%}">logout</a></div>
      <div class="container ">
        {% block content%}
        {% endblock content %}
      </div>
     
    </body>
</html>