body{
    background:     
   
    linear-gradient(
   to right,
      #ffffff,
      #80c4f1,
      #0897f7
);
   }


#form{
border:1px solid ;
height: 430px;
width: 30%;
margin-left: 32%;
margin-bottom: 8%;
margin-top: 8%;
margin-right: 20%;
backdrop-filter: blur(10px);
border: 2px solid rgba(255,255,255,0.1);
box-shadow: 0 0 5px rgba(8,7,16,0.6);
padding: 2%;
position: relative;


}
input ,span{
margin-bottom: 5%;
font-size: xx-large;

}