{% extends 'nationality/base.html'%}
<html>
    <title>
     details
    </title>
    <head>
        <title>

        </title>
    </head>
    <body>
        {% block content%}
         <table>
             <br/>
            <div class="card" style="width: 18rem;">
                
                <div class="card-body">
                  <p class="card-text"> <ul><li>{{ff.authorName}}</li>
                  <li>{{ff.nationality}}</li>
                <li>{{ff.bornDate}}</li></ul></p>
                </div>
              </div>
           
         </table>
        {% endblock content%}
    </body>    
</html>        