{% extends 'nationality/base.html'%}
<html>
    <title>
     index
    </title>
    <head>
        <title>

        </title>
    </head>
    <body>
        {% block content %}
        <a class="btn btn-outline-primary mb-2"  href="{% url 'book:Create'%}">New book</a>
        <br/> 
        <table class="table table-hover">
           
          
            <th>Books</th>
            <th>Edit</th>
            <th>Delete</th>
            {% for i in list %}
            <tr>
                <td><a href="{% url 'book:Details' i.id%}">{{i.bookName}}</a></td>
                <td><a class="btn btn-outline-success mb-2"  href="{% url 'book:Edit' i.id%}">Update </a></td> 
                <td><a class="btn btn-outline-danger mb-2"  href="{% url 'book:Delete' i.id%}">Delete </a></td> 
            </tr>
            {%endfor%}
        </table>
        {% endblock content%}
    </body>
</html>